application/config/database.php
application/logs/*
application/temp/*
application/cache/*
backup_db/*
temp/*
ci_sessions/*
upload/*
.vscode/*
.htaccess
user.ini
php.ini
desktop.ini
index.php
*.zip
*.rar
104202239111562480441272022491937425583130.ico
.well-known/*
cgi-bin/*
