application/config/database.php
application/logs/*
application/temp/*
application/cache/*
backup_db/*
temp/*
ci_sessions/*
upload/*
.vscode/*
.htaccess
user.ini
php.ini
desktop.ini
index.php
*.zip
*.rar
